.container {
    margin: 3.5rem 0;
    padding-bottom: 2rem;
    border-radius: 0.35rem;
    overflow: hidden;
    box-shadow: 0px 5px 9px 5px rgba(212, 212, 212, 0.5);
    -webkit-box-shadow: 0px 5px 9px 5px rgba(212, 212, 212, 0.5);
    -moz-box-shadow: 0px 5px 9px 5px rgba(212, 212, 212, 0.5);
    background-color: white;
}

.header {
    background-color: #3b82f6;
    color: white;
    padding: 0.75rem 2rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.item {
    background-color: transparent;
    color: #404040;
    width: 90%;
    padding: 1rem 0;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.shipping {
    background-color: transparent;
    color: #404040;
    width: 90%;
    padding: 1rem 0;
    margin: auto;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #d4d4d4;
}

.total {
    border: 1px solid #d4d4d4;
    background-color: white;
    color: #404040;
    width: 90%;
    padding: 1rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.submit {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin: 1rem 0;
    width: 90%;
    max-width: 40rem;
}

.next {
    background-color: #eab308;
    width: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.35rem;
}

.next button {
    color: white;
    font-weight: 500;
    border-radius: 0.35rem;
    height: 2.25rem;
    background-color: transparent;
    outline: 0;
    border: 0;
}

.cancel {
    width: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.35rem;
}

.cancel button {
    color: #075985;
    font-weight: 500;
    border-radius: 0.35rem;
    height: 2.25rem;
    background-color: transparent;
    outline: 0;
    border: 0;
}